In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
import pickle

In [5]:
# Load the Dataset
df=pd.read_csv('Churn_Modelling.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [6]:
# Preprocessing the dataset
### Dropping unnecessary columns
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [7]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [8]:
# Encoding categorical variables
label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

 OneHot encode geaographic column as label encoding is not suitable for this column because it has more than two categories and the order of categories does not matter.

In [9]:
ohe=OneHotEncoder(sparse_output=False)
ohe_df=pd.DataFrame(ohe.fit_transform(df[['Geography']]))
ohe_df.columns=ohe.get_feature_names_out(['Geography'])

ohe_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [10]:
df=pd.concat([df.drop('Geography', axis=1), ohe_df], axis=1)
df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [11]:
## Saving the encoders
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder, file)

with open('ohe_geography.pkl', 'wb') as file:
    pickle.dump(ohe, file)

In [12]:
# Dividing the dataset into independent and dependent features
X=df.drop('Exited',axis=1)
y=df['Exited']

In [13]:
# Splitting the dataset
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
# Scaling the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [14]:
## Saving the scaler
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [15]:
df

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

## ANN Implementation

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [17]:
# building the ANN model
model = Sequential(
    [Dense(64,activation='relu', input_shape=(X_train.shape[1],)), # HL1 connected with input layer
     Dense(32,activation='relu'), # HL2
     Dense(1, activation='sigmoid') # Output layer
     ] 
)

WARNING:tensorflow:From c:\Users\HP\Documents\STUDY\Projects\ANN_project(churn)\churn_env\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# this way of providing the optimizers is prefered as we can give our own learning rate which is not possible if we provide it in the parameters directly.
opt=tf.keras.optimizers.Adam(learning_rate=0.01)
loss=tf.keras.losses.BinaryCrossentropy()

In [20]:
## Compiling the model
model.compile(optimizer=opt, loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
# setup the TensorBoard
# It is used for visualising all the logs that we have while training the model
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tf_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [26]:
# setup Early Stopping
es_callback=EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [27]:
#training the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tf_callback,es_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3410 - accuracy: 0.8584 - val_loss: 0.3452 - val_accuracy: 0.8570
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3377 - accuracy: 0.8626 - val_loss: 0.3525 - val_accuracy: 0.8630
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3355 - accuracy: 0.8604 - val_loss: 0.3532 - val_accuracy: 0.8630
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3323 - accuracy: 0.8615 - val_loss: 0.3440 - val_accuracy: 0.8580
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3288 - accuracy: 0.8654 - val_loss: 0.3652 - val_accuracy: 0.8560
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3274 - accuracy: 0.8635 - val_loss: 0.3527 - val_accuracy: 0.8605
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3289 - accuracy: 0.8648 - val_loss: 0.3513 - val_accuracy: 0.8635
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3230 - accuracy: 0.8680 - val_loss: 0.3535 - val_accuracy: 0.8550
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3216 - accuracy: 0.8689 - val_loss: 0.3485 - val_accuracy: 0.8540
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3183 - accuracy: 0.8700 - val_loss: 0.3518 - val_accuracy: 0.8580
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3178 - accuracy: 0.8690 - val_loss: 0.3691 - val_accuracy: 0.8575
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3148 - accuracy: 0.8726 - val_loss: 0.3515 - val_accuracy: 0.8600
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3133 - accuracy: 0.8699 - val_loss: 0.3598 - val_accuracy: 0.8585
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3096 - accuracy: 0.8711 - val_loss: 0.3624 - val_accuracy: 0.8595

In [28]:
model.save('model.h5')

c:\Users\HP\Documents\STUDY\Projects\ANN_project(churn)\churn_env\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [29]:
# load the TensorBoard extension
%load_ext tensorboard

In [ ]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 18004), started 0:01:25 ago. (Use '!kill 18004' to kill it.)